<div class="city-screen">
  {{> map-nav}}
  <div class="map-ctr">
    <div id="map"></div>
    <p class="text-center py-2">Click a marker to learn more<p>
  </div>
  <div class="info-ctr px-2 d-none">
    <p class="info-ctr-title"><strong>Hospital Details</strong></p>
    <div class="info-inner-ctr px-2">
      <p class="info-name-p"><a class="info-name-link" target="_blank"></a></p>
      <p class="info-contact-p"><a class="info-contact-link"></a></p>
    </div>
  </div>
  <div class="help-ctr px-2">
    <p><strong>How can we help you?</strong></p>
    <div class="help-answers-ctr px-2">
      <a href="tel:+918431479243">Find a testing center near me</a>
      <a href="tel:+918431479243">Find a hospital near me</a>
      <a href="tel:+918431479243">Contact the helpline</a>
    </div>
  </div>
</div>