<div class="footer text-center mt-5 mx-4">
  <p>Hospital Tracker is a community initiative. <a href="mailto:hospitaltracker.in@gmail.com">Email</a>, <a href="https://twitter.com/hospitaltrackin" target="_blank">Tweet</a> or <a href="https://wa.me/918431479243" target="_blank">WhatsApp</a> us to volunteer.</p>
</div>