<header class="header">
  <nav class="navbar navbar-light">
    <div class="navbar-link navbar-link-toggler">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <img class="toggle-icon" src="assets/icons/hamburger.png">
      </button>
    </div>
    <div class="navbar-link navbar-link-brand">
      <a class="navbar-brand" href="/"><h1>Hospital Tracker</h1></a>
    </div>
    <div class="navbar-link navbar-link-dummy"></div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
      </ul>
    </div>
  </nav>
</header>