<div class="home-screen px-4">
  <div class="mission-ctr">
    <p>Find the nearest available COVID hospital bed or test center in your city.</p>
    <p>Updated 24/7 with data from the hospitals.</p>
  </div>
  <h2>Choose your city</h2>
  <div class="cities-ctr">
  </div>
</div>