<nav class="nav map-nav justify-content-between">
  <a class="nav-link map-nav-link active" data-name="all" href="#">All</a>
  <a class="nav-link map-nav-link" data-name="hdu" href="#">HDU</a>
  <a class="nav-link map-nav-link" data-name="icu" href="#">ICU</a>
  <a class="nav-link map-nav-link" data-name="ventilator" href="#">Ventilators</a>
  <a class="nav-link map-nav-link" data-name="lab" href="#">Labs</a>
</nav>