<!-- OpenGraph Tags -->
<meta property="og:title" content="Covid Hospital Map"/>
<meta property="og:description" content="Covid Hospital Map"/>
<meta property="og:image" content="https://www.google.com/maps/d/thumbnail?mid=1r0usdFXC5pwNrBDQhaPod_yXfAw"/>