.home-screen {
  text-align: center;
  .mission-ctr {
    margin-top: 20vh;
    p {
      margin-bottom: 20px;
      font-size: 1.2rem;
      color: $default-theme-p-dark-font-color;
    }
  }

  h2 {
    margin-top: 40px;
    font-size: 1.4rem;
    color: $default-theme-p-dark-font-color;
  }
  a {
    display: block;
    margin-top: 20px;
    font-size: 1.2rem;
    color: $default-theme-action-font-color;
    text-decoration: none;
  }
}