.tutorial-ctr {
  width: 100%;
  
  font-size: 1.5rem;
  text-align: center;
  
  @media only screen and (orientation: landscape) {
    position: absolute;
    top: 0;
    width: calc((100vw - 100vh)/2);
    height: 100vh;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .tutorial-contact {
    font-size: 0.8rem;
    text-align: left;
  }
}
